h1, h2, h3, h4 {
    text-align: center;                     /* Per centrare i titoli */
    font-family: 'Avenir Next', sans-serif; /* Imposta il font */
}

/* Stile per il container principale dei prodotti */
.product-container {
    flex: 1; /* Occupa tutto lo spazio rimanente */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra i prodotti */
    gap: 10px; /* Spazio tra i prodotti */
}

/* Stile per ogni singolo prodotto */
.product {
    display: inline-block;
    width: 250px;                           /* Larghezza fissa del prodotto */
    height: 450px;                          /* Altezza fissa del prodotto */
    margin: 10px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(45deg, yellow, red) border-box;
    text-align: left;
    overflow: hidden;
    vertical-align: top;
    font-family: 'Avenir Next', sans-serif;
    position: relative;
}

/* Stile per l'immagine del prodotto */
.product-img {
    width: 100%;                            /* Immagine occupa tutto lo spazio disponibile */
    height: 60%;                            /* Altezza fissa dell'immagine (60% del contenitore) */
    object-fit: contain;                    /* Adatta l'immagine senza distorsioni */
    margin-bottom: 10px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Stile per il nome del prodotto */
.product-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    width: 85%;
}

/* Stile per i link nel nome del prodotto */
.product-name a {
    text-decoration: none;
    color: black; /* Assicurati che il colore del testo sia nero */
}

.product-name a:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio del mouse */
    color: red; /* Cambia il colore del testo al passaggio del mouse */
}

/* Stile per il prezzo del prodotto */
.product-price {
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: black;
    position: relative;
}

.product-price .euro {
    font-size: 18px;
    font-weight: 600;
}

.product-price .decimal {
    font-size: 12px;
    font-weight: normal;
}

.product-price-container {
    display: inline-block;
    position: relative;
}

.product-price-offerta {
    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.product-price-offerta .euro {
    font-size: 18px;
    font-weight: 600;
}

.product-price-offerta .decimal {
    font-size: 12px;
    font-weight: normal;
}

.product-price-originale {
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: gray;
    position: relative;
    display: inline-block;
}

.product-price-originale .euro {
    font-size: 12px;
    font-weight: normal;
}

.product-price-originale .decimal {
    font-size: 8px;
    font-weight: normal;
}

.product-price-originale::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 0;
    transform: rotate(-15deg);
    transform-origin: center;
}

/* Stile per il bottone del prodotto */
.product-container .button {
    position: absolute;
    bottom: 10px; /* Distanza dal fondo */
    width: calc(100% - 20px); /* Larghezza leggermente inferiore alla card */
    height: 40px; /* Altezza del bottone */
    border-radius: 15px; /* Arrotondamento dei bordi */
    overflow: hidden;
    border: 2px solid yellow, red;
    text-align: center;
}

.product-container .button .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, yellow, red, yellow, red, yellow, red, yellow);
    transition: all 0.4s ease;
    border-radius: 15px; /* Arrotondamento dei bordi */
}

.product-container .button:hover .button-layer {
    left: 0;
}

.product-container .button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 16px; /* Riduci leggermente la dimensione del testo */
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px; /* Padding interno per spaziatura */
    cursor: pointer;
}

.product-container .button button a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #fff; /* Assicura che il testo sia sempre bianco */
}

.product-container .button button:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio del mouse */
    color: #fff; /* Assicura che il testo sia sempre bianco */
}

.promo-attiva {
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 1px 5px;
    text-align: center;
    font-weight: bold;
    margin: 5px auto;
    display: inline-block;
    font-size: 12px;
    font-family: 'Avenir Next', sans-serif;
    position: absolute;
    top: 5px;
    right: 10px;
}

/* Stile per il contenitore principale del catalogo */
.catalog-container {
    display: flex; /* Dispone gli elementi in una riga */
    padding: 10px;
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    min-height: 100vh;
}

/* Stile per la sezione dei filtri */
.filters {
    width: 200px; /* Larghezza fissa per la sezione dei filtri */
    padding: 10px;
    border-right: 2px solid lightgray; /* Linea verticale di separazione */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    font-family: 'Avenir Next', sans-serif; /* Imposta il font */
}

/* Linea orizzontale di separazione tra le sezioni dei filtri */
.filter-divider {
    border: none;
    border-top: 1px solid lightgray;
    margin: 5px 0; /* Ridotto il margine per meno spazio tra sezioni */
}

/* Stile per le opzioni di filtro (checkbox e label) */
.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Rimosso il margine tra le opzioni di filtro */
}

.filter-option input[type="checkbox"],
.filter-option input[type="radio"] {
    appearance: none; /* Rimuove lo stile predefinito del browser */
    width: 15px; /* Dimensione della checkbox/radio */
    height: 15px; /* Dimensione della checkbox/radio */
    border-radius: 50%; /* Forma circolare */
    border: 1px solid black; /* Bordo di default */
    margin-right: 5px; /* Margine tra la checkbox/radio e il testo */
    cursor: pointer;
    position: relative;
    background-color: white; /* Sfondo bianco di default */
}

/* Bordo più spesso e margine colorato quando selezionato */
.filter-option input[type="checkbox"]:checked,
.filter-option input[type="radio"]:checked {
    border: 4px solid black; /* Bordo più spesso quando selezionato */
    background-color: white; /* Sfondo bianco quando selezionato */
}

/* Icona personalizzata al centro quando selezionato */
.filter-option input[type="checkbox"]:checked::before,
.filter-option input[type="radio"]:checked::before {
    content: ""; /* Rimuove il contenuto predefinito */
    position: absolute;
    top: 50%;
    left: 50%;
}

.filter-apply {
    text-align: center;
    margin-top: 10px;
}

.custom-btn {
    width: 100%;
    height: 40px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Avenir Next', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-bottom: 10px;
}

.btn {
    background: rgb(255,151,0); /* Rosso puro */
    border: none;
    z-index: 1;
}
.btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #ffb700; /* Giallo chiaro */
    background-image: linear-gradient(315deg, #ff4e50 0%, #ffb700 74%); /* Gradiente dal rosso al giallo */
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn:hover {
    color: #000;
}
.btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}
.btn:active {
    top: 2px;
}

.error-message h4 a {
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
}

.error-message h4 a:hover {
    color: red;
}