/* index.css */

h1 {
    text-align: center;                     /* Per centrare i titoli */
    font-family: 'Avenir Next', sans-serif;
}

.product-container {
    display: flex; /* Utilizza Flexbox per allineare le card */
    justify-content: center; /* Centra le card horizontalmente */
    flex-wrap: wrap; /* Per consentire il wrapping delle card se lo spazio è insufficiente */
    font-family: 'Avenir Next', sans-serif;
    text-align: center; /* Rimane centrato per i prodotti */
    overflow: auto; /* Gestisce il contenuto che potrebbe sforare */
}

.product {
    width: 250px; /* Larghezza fissa del prodotto */
    height: 450px; /* Altezza fissa del prodotto */
    margin: 10px;
    padding: 10px;
    border: 2px solid transparent; /* Bordo trasparente */
    border-radius: 15px; /* Arrotonda i bordi */
    background: linear-gradient(white, white) padding-box, /* Sfondo bianco */
                linear-gradient(45deg, yellow, red) border-box; /* Gradiente per il bordo */
    text-align: left;
    overflow: hidden; /* Nasconde il contenuto che sfora */
    vertical-align: top; /* Allineamento verticale in alto */
    font-family: 'Avenir Next', sans-serif; /* Imposta il font */
    position: relative;
    box-sizing: border-box; /* Assicura che il padding e il bordo siano inclusi nelle dimensioni totali */
}

.product-img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    margin-bottom: 10px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.product-name {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    width: 100%;
}

.product-name a {
    text-decoration: none;
    color: black;
}

.product-name a:hover {
    text-decoration: none;
    color: red;
}

.product-price {
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: black;
    position: relative;
}

.product-price .euro {
    font-size: 18px;
    font-weight: 600;
}

.product-price .decimal {
    font-size: 12px;
    font-weight: normal;
}

.product-price-container {
    display: inline-block;
    position: relative;
}

.product-price-offerta {
    font-family: 'Avenir Next', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: red;
}

.product-price-offerta .euro {
    font-size: 18px;
    font-weight: 600;
}

.product-price-offerta .decimal {
    font-size: 12px;
    font-weight: normal;
}

.product-price-originale {
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: gray;
    position: relative;
    display: inline-block;
}

.product-price-originale .euro {
    font-size: 12px;
    font-weight: normal;
}

.product-price-originale .decimal {
    font-size: 8px;
    font-weight: normal;
}

.product-price-originale::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    top: 50%;
    left: 0;
    transform: rotate(-15deg);
    transform-origin: center;
}

/* Stile per il bottone del prodotto */
.product-container .button {
    position: absolute;
    bottom: 10px; /* Distanza dal fondo */
    width: calc(100% - 20px); /* Larghezza leggermente inferiore alla card */
    height: 40px; /* Altezza del bottone */
    border-radius: 15px; /* Arrotondamento dei bordi */
    overflow: hidden;
    border: 2px solid yellow, red;
    text-align: center;
}

.product-container .button .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, yellow, red, yellow, red, yellow, red, yellow);
    transition: all 0.4s ease;
    border-radius: 15px; /* Arrotondamento dei bordi */
}

.product-container .button:hover .button-layer {
    left: 0;
}

.product-container .button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 16px; /* Riduci leggermente la dimensione del testo */
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    padding: 10px; /* Padding interno per spaziatura */
    cursor: pointer;
}

.product-container .button button a {
    text-decoration: none; /* Rimuove la sottolineatura */
    color: #fff; /* Assicura che il testo sia sempre bianco */
}

.product-container .button button:hover {
    text-decoration: none; /* Rimuove la sottolineatura al passaggio del mouse */
    color: #fff; /* Assicura che il testo sia sempre bianco */
}

.carousel .slider-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel .slider {
    display: flex;
    transition: transform 1.0s ease-in-out;
}

.carousel .slider img {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.carousel .slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel .slider-nav-btn {
    background-color: transparent;
    color: white;
    border: white;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.promo-attiva {
    background-color: red;
    color: white;
    border-radius: 20px;
    padding: 1px 5px;
    text-align: center;
    font-weight: bold;
    margin: 5px auto;
    display: inline-block;
    font-size: 12px;
    font-family: 'Avenir Next', sans-serif;
    position: absolute;
    top: 5px;
    right: 10px;
}
