/* login.css */

/* Stile generale del form di login */
.form_login {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stile dell'intestazione del form */
.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Stile del contenitore dell'icona */
.inputContainer {
    position: relative;
    margin-bottom: 20px;
}

/* Stile dell'icona */
.inputIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    fill: #2e2e2e; /* Colore dell'icona */
}

/* Stile del campo di input */
.inputField {
    width: calc(100% - 40px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Stile del pulsante di invio */
#button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Stile del pulsante di invio al passaggio del mouse */
#button:hover {
    background-color: #0056b3;
}

/* Stile del link di registrazione */
.registrazione-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.registrazione-link a {
    color: #007bff;
    text-decoration: none;
}

.registrazione-link a:hover {
    text-decoration: underline;
}
