.fixed-header {
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: lightgray;
}

.fixed-nav {
    position: fixed;
    width: 100%;
    top: 72px;
    left: 0;
    z-index: 999;
    background: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f2f4;
}

body {
    margin-top: 130px;
}

p {
    font-size: 14px;
    font-family: "Avenir Next", Avenir, sans-serif;
    margin: 15px 0 20px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: lightgray;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

#header img {
    max-height: 40px;
}

.logo {
    align-content: normal;
    margin-right: 50px;
    transform: scale(1.5);
}

#navbar {
    max-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Avenir Next", Avenir, sans-serif;
    color: #f1f2f4;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: black;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    width: 30%;
    height: 2px;
    background: darkred;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.search-box {
    display: flex;
    width: 450px;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #f1f2f4;
    border-radius: 8px;
    position: absolute;
    left: 45%;
    transform: translateX(-50%) translateY(-50%);
}

.search-button {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--gradient-2);
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.search-button:hover {
    color: #fff;
    transform: translateY(-2px);
}

.search-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.search-input {
    border: none;
    background: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: "Avenir Next", Avenir, sans-serif;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
    width: 500px;
}

#userLogin {
    position: relative;
}

.dropdownmenu {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 72px;
    left: 0;
    z-index: 999;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
    align-content: center;
}

.dropdownmenu ul {
    background: black;
    list-style: none;
}

.dropdownmenu li {
    float: left;
    position: relative;
    width:auto;
}

.dropdownmenu a {
    background: black;
    color: #FFFFFF;
    display: block;
    font-family: "Avenir Next", Avenir, sans-serif;
    padding: 10px 58px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.dropdownmenu li:hover a {
    background: #DF4B05;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 40px;
    visibility: visible;
}

#submenu li {
    float: none;
}

#submenu a:hover {
    background: #DF4B05;
}

#submenu a {
    background-color: #000000;
}

@media screen and (max-width: 1500px) {
    .search-box {
        width: 400px;
    }

    .search-input {
        padding: 16px;
        font-size: 12px;
        width: 350px;
    }

    .search-button {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1450px) {
    .dropdownmenu a {
        padding: 10px 55px;
    }
}

@media screen and (max-width: 1400px) {
    .dropdownmenu a {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 1350px) {
    .dropdownmenu a {
        padding: 10px 45px;
    }
}

@media screen and (max-width: 1300px) {
    .dropdownmenu a {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 1250px) {
    .dropdownmenu a {
        padding: 10px 35px;
    }
}

@media screen and (max-width: 1200px) {
    .search-box {
        left: 45%;
        width: 350px;
    }

    .search-input {
        padding: 16px;
        font-size: 12px;
        width: 200px;
    }

    .search-button {
        width: 40px;
        height: 40px;
    }

    .dropdownmenu a {
        padding: 10px 30px;
    }
}

@media screen and (max-width: 1100px) {
    .search-box {
        left: 45%;
        width: 275px;
    }

    .search-input {
        padding: 16px;
        font-size: 12px;
        width: 175px;
    }

    .search-button {
        width: 40px;
        height: 40px;
    }

    .dropdownmenu a {
        padding: 10px 25px;
    }
}

@media screen and (max-width: 1000px) {
    .search-box {
        left: 45%;
        width: 225px;
    }

    .search-input {
        padding: 16px;
        font-size: 12px;
        width: 175px;
    }

    .search-button {
        width: 40px;
        height: 40px;
    }

    .dropdownmenu a {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 950px) {
    .search-box {
        left: 45%;
        width: 200px;
    }

    .dropdownmenu a {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 900px) {
    #navbar li {
        padding-right: 0;
        right: 15%;
    }

    .search-box {
        display: none;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: none;
    }

    .dropdownmenu a {
        padding: 10px 5px;
    }
}

@media screen and (max-width: 600px) {
    .active {
        display: none;
    }

    .search-box {
        display: none;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: none;
    }

    #navbar li {
        right: 40%;
    }

    .dropdownmenu a {
        padding: 10px 3px;
    }
}
