/* navbar.css */

/* Stile generale della navbar */
nav {
    background-color: red;                  /* Cambia "rosso" con il colore desiderato */
    padding: 10px;                          /* Aggiunge spazio intorno ai contenuti della navbar */
    display: flex;                          /* Permette di allineare gli elementi della navbar orizzontalmente */
    justify-content: space-between;         /* Allinea gli elementi all'inizio e alla fine della navbar */
    align-items: center;                    /* Centra verticalmente gli elementi nella navbar */
}

/* Stile del logo */
.logo img {
    height: 50px;                           /* Imposta l'altezza del logo */
    width: auto;                            /* Imposta la larghezza del logo in modo che si adatti proporzionalmente all'altezza */
}

/* Stile degli elementi della navbar */
.profilo, .logout {
    margin: 0 10px;                         /* Aggiunge spazio tra gli elementi della navbar */
}

/* Stile dei link */
.profilo a, .logout a {
    color: white;                           /* Cambia il colore del testo dei link */
    text-decoration: none;                  /* Rimuove la sottolineatura dai link */
    font-weight: bold;                      /* Imposta il grassetto per i link */
}

/* Stile degli SVG */
.profilo svg, .logout svg {
    height: 30px;                           /* Imposta l'altezza degli SVG */
    width: auto;                            /* Imposta la larghezza degli SVG in modo che si adatti proporzionalmente all'altezza */
}
