/* navbar.css */

/* Stile generale della navbar */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Colore di sfondo della navbar */
    color: #fff; /* Colore del testo nella navbar */
    padding: 10px 20px; /* Spaziatura interna della navbar */
    z-index: 1000; /* Assicura che la navbar sia sopra agli altri elementi */
}

/* Stile del contenitore degli elementi della navbar */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Stile del logo */
.logo {
    margin-right: auto;
}

.logo img {
    height: 50px;
    width: auto;
}

/* Stile degli elementi della navbar */
.profilo,
.logout,
.carrello {
    margin-left: 10px;
}

/* Stile dei link */
.profilo a,
.logout a,
.carrello a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Stile degli SVG */
.profilo svg,
.logout svg,
.carrello svg {
    height: 40px;
    width: auto;
}
