/* Stile per il contenitore principale degli ordini */
.ordini-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

/* Stile per l'intestazione degli ordini */
.ordini-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Stile per singolo ordine */
.ordine {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

/* Stile per le informazioni dell'ordine */
.ordine p {
    margin: 0;
    font-weight: bold;
}

/* Stile per l'ID dell'ordine */
.ordine .id-ordine {
    color: #007bff; /* Colore blu per l'ID dell'ordine */
}

/* Stile per la data dell'ordine */
.ordine .data-ordine {
    color: #666; /* Colore grigio per la data dell'ordine */
}

/* Stile per il prezzo totale dell'ordine */
.ordine .prezzo-totale {
    color: #dc3545; /* Colore rosso per il prezzo totale dell'ordine */
}

/* Stile per la sezione dei filtri */
.filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Stile per le sezioni di filtro (Prezzo e Periodo) */
.filter-sections {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

/* Stile per le sezioni di filtro individuali */
.filter-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px; /* Spazio tra le sezioni */
}

.filter-section:last-child {
    margin-right: 0; /* Rimuove il margine destro dell'ultima sezione */
}

.filter-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Stile per le opzioni di filtro */
.filter-option {
    margin-bottom: 10px;
}

/* Stile per i campi di input delle date e per i radio button */
.filter-option input[type="date"],
.filter-option input[type="radio"] {
    margin-left: 10px;
    vertical-align: middle;
}

/* Stile per i radio button */
.filter-option input[type="radio"] {
    margin-right: 5px;
}

/* Stile per i campi di input delle date */
.filter-option input[type="date"] {
    padding: 3px; /* Ridotto il padding */
    font-size: 10px; /* Ridotto il font-size */
    width: 100px; /* Imposta una larghezza ridotta per uniformare gli input delle date */
}

/* Stile per le opzioni di filtro radio */
.filter-option label {
    display: flex;
    align-items: center;
}

/* Stile per la sezione dei bottoni di applicazione dei filtri */
.filter-apply {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.filter-apply button {
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.filter-apply button:hover {
    background-color: #0056b3;
}
