/* Stile per il contenitore principale */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Avenir Next", sans-serif;
    margin: 0;
    padding: 0;
}

/* Stile per il contenitore dell'intestazione */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}

.header-container h1 {
    color: #333;
    margin: 0;
    white-space: nowrap; /* Impedisce che il titolo vada a capo */
}

/* Stile per il contenitore dei dati */
.dati-container {
    text-align: center;
    margin: 20px 0;
    width: 80%;
    max-width: 600px;
}

/* Stile per i titoli */
.dati-container p {
    margin: 10px 0;
}

.dati-container .label {
    font-weight: bold;
    color: #333;
}

/* Stile per i dati */
.dati-container .value {
    color: #555;
}

/* Stile per il contenitore dei link */
.link-container {
    text-align: center;
}

.link-container a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin: 10px 0;
}

.link-container a:hover {
    text-decoration: underline;
}
